* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  font-size: 18px;
  color: var(--onSecondary);
}

:root {
  --white: rgb(251, 251, 251);
  --prewhite: rgb(240, 240, 240);
  --darkwhite: rgb(220, 220, 220);
  --yellow: rgb(251, 255, 129);
  --gray: rgb(240, 242, 244);
  --darkgray: rgb(141, 141, 141);
  --blue: rgb(83, 92, 215);
  --green: rgb(237, 189, 81);
  --larger: 3rem;
  --large: 2rem;
  --big: 1.75rem;
  --mid: 1.5rem;
  --premid: 1.25rem;
  --small: 1rem;

  --black: rgb(18, 18, 18);
  /*--secondary: rgba(31, 27, 36, 0.92);*/

  --primary: #BB86FC;
  --primaryVariant: #3700B3;
  --secondary: #03DAC6;
  --background: #121212;
  --surface: #121212;
  --error: #CF6679;
  --onPrimary: #000000;
  --onSecondary: #000000;
  --onBackGround: #FFFFFF;
  --onSurface: #FFFFFF;
  --onSurfaceDark: rgba(255, 255, 255, 0.05);
  --onError: #000000;
}

html {
  height: 100%;
  width: 100%;
}
body {
  width: 100%;
  background-color: var(--background);
  height: 100%;
}
header {
  background-color: var(--onSurfaceDark);
  width: 100%;
}
header > a {
  display: block;
  padding: 20px 30px;
  font-size: var(--premid);
  color: var(--onSurface);
}
#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 30rem;
  background-color: var(--onSurfaceDark);
  border-radius: 55px;
}
.task__title {
  font-size: var(--larger);
  color: var(--onSurface);
}
input {
  text-align: center;
  color: var(--primary);
  outline: none;
  border: none;
  border-bottom: 5px solid var(--secondary);
  border-image: linear-gradient(90deg, var(--primary), var(--primaryVariant));
  border-image-slice: 1;

  padding: 10px 0px;
  width: auto;
  font-size: var(--large);
}

.button {
  padding: 1rem 2rem;
  font-size: 2rem;
  border: 2px solid var(--onSurface);
  color: var(--onSurface);
  cursor: pointer;
}
.button_small {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.button_offset {
  margin-top: 2rem;
}
.button:hover{
  background-color: rgb(255, 255, 255, 0.2);
  transition: background-color 30ms linear;
}
.score {
  font-size: 2rem;
  color: var(--primary);
}
.result {
  padding: 2rem;
  color: var(--onSurface);
  font-size: 2rem;
}
.result__item {
  padding: 0.3rem 0;
  font-size: 1.5rem;
  color: var(--onSurface);
}
.result__time {
  color: var(--primary);
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 12px;
  }
}